<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <link href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"/>
    <link href='css/main.css' media='screen' rel='stylesheet' type='text/css'/>
    <script src="/js/vue2.js"></script>
    <script src="/js/vue2.min.js"></script>
    <script src="/css/vue2.min.js"></script>
    <script src="/js/jquery-1.8.0.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
</head>
<body>
<div class="container"  id="new_app">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="row clearfix" >
                <div class="col-md-2 column">
                </div>
                <div class="col-md-8 column">
                    <br/>
                    <form class="form-horizontal" role="form"  action="/student/addItem"  id="myForm" method="post">
                        <div class="form-group">
                            <label  class="col-sm-2 control-label">订单号</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control"  name="orderNum"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label  class="col-sm-2 control-label">院系</label>
                            <div class="col-sm-6">
                                <select class="form-control"  name="faculty" @change="getList">
                                    <option  v-for="item in xueyuans" >
                                        {{item}}
                                    </option>
                                </select>
                            </div>
                        </div>


                        <div class="form-group">
                            <label  class="col-sm-2 control-label">专业</label>
                            <div class="col-sm-6">
                                <select class="form-control" name="profession" >
                                    <option v-for="zy in zhuanyes" >
                                        {{zy}}
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label  class="col-sm-2 control-label">学期</label>
                            <div class="col-sm-6">
                                <select class="form-control" name="semester">
                                    <option value="第一学期">第一学期</option>
                                    <option value="第二学期">第二学期</option>
                                    <option value="第三学期">第三学期</option>
                                    <option value="第四学期">第四学期</option>
                                    <option value="第五学期">第五学期</option>
                                    <option value="第六学期">第六学期</option>
                                    <option value="第七学期">第七学期</option>
                                    <option value="第八学期">第八学期</option>
                                    <option value="第九学期">第九学期</option>
                                    <option value="第十学期">第十学期</option>
                                    <option value="第十一学期">第十一学期</option>
                                    <option value="第十二学期">第十二学期</option>
                                    <option value="第十三学期">第十三学期</option>
                                    <option value="第十四学期">第十四学期</option>
                                </select>
                            </div>
                        </div>


                        <div class="form-group">
                            <label  class="col-sm-2 control-label">课程</label>
                            <div class="col-sm-6">
                                <select class="form-control" name="course">
                                    <option>中医基础</option>
                                    <option>医学数字图像</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label  class="col-sm-2 control-label">教材名称</label>
                            <div class="col-sm-6">
                                <input list="pasta" class="form-control" name="bookname"/>

                                <datalist id="pasta">
                                    <option>Bavette</option>
                                    <option>Cannelloni</option>
                                </datalist>

                            </div>
                        </div>
                        <div class="form-group">
                            <label  class="col-sm-2 control-label">版次</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control"  name="edition"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label  class="col-sm-2 control-label">ISBN</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control"  name="isbn"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label  class="col-sm-2 control-label">作者</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control"  name="author"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label  class="col-sm-2 control-label">版本</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control"  name="version"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label  class="col-sm-2 control-label">出版社</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control"  name="press"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label  class="col-sm-2 control-label">单价</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control"  name="unitprice"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label  class="col-sm-2 control-label">入学时间</label>
                            <div class="col-sm-6">
                                <input type="date" class="form-control"  name="session"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label  class="col-sm-2 control-label" >校区</label>
                            <div class="col-sm-6">
                                <select class="form-control" name="campus">
                                    <option>黄家湖校区</option>
                                    <option>昙华林校区</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label  class="col-sm-2 control-label">处理人</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control"  name="responsible"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label  class="col-sm-2 control-label" name="quantity">数量</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control"  />
                            </div>
                        </div>

                        <div class="form-group">
                            <label  class="col-sm-2 control-label"></label>
                            <div class="col-sm-6">
                                <input id="submit"  type="submit" class="btn btn-info btn-sm" value="确认添加"/>

                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-2 column">
                </div>
            </div>
        </div>
    </div>
</div>

</body>


<script>


    $(document).ready(function() {
        var vn=new Vue({
            el: '#new_app',
            data: {
                xueyuans:[],
                zhuanyes:[]
            },

            mounted: function () {
                this.getList_XY();
            },

            methods: {
                getList_XY:function(){
                    var that=this;
                    axios.get('/stu/faculty').then(function(response){
                        that.xueyuans=response.data;
                    },function(errormessage){
                        alert("获取信息失败！！！")
                    })
                },

                getList:function(ele){
                    var that=this;
                    axios.get('/stu/zhuanyes',{
                        params: {
                            XYName:ele.target.value
                        }
                    }).then(function(response){
                        that.zhuanyes=response.data;
                    })
                }
            }
        });
    });


</script>
</html>