<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <link href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"/>
    <link href='css/main.css' media='screen' rel='stylesheet' type='text/css'/>
    <script th:src="@{/js/vue.js}"></script>
    <script th:src="@{/js/vue-resource.js}"></script>
    <script th:src="@{/js/jquery-1.8.0.min.js}"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>

<body>


<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="row clearfix">
                <div class="col-md-2 column">
                     <!--空白区-->
                </div>

                <!--内容区-->
                <div class="col-md-10 column" >
                    <div class="container">
                        <div class="row clearfix">
                            <div class="col-md-12 column">
                                <div class="row clearfix">
                                    <div class="col-md-12 column">
                                        <!--按钮区-->
                                          <table>
                                              <tr align="center">
                                                  <td>
                                                      <button type="button" class="btn btn-info btn-xs">按钮</button>
                                                  </td>
                                                  <td>
                                                      <button type="button" class="btn btn-info btn-xs">按钮</button>
                                                  </td>
                                                  <td>
                                                      <button type="button" class="btn btn-info btn-xs">按钮</button>
                                                  </td>
                                                  <td>
                                                      <button type="button" class="btn btn-info btn-xs">按钮</button>
                                                  </td>
                                              </tr>
                                          </table>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-md-12 column">
                                        <!--操作区-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
