<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <link href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"/>
    <link href='css/main.css' media='screen' rel='stylesheet' type='text/css'/>
    <script th:src="@{/js/vue.js}"></script>
    <script th:src="@{/js/vue-resource.js}"></script>
    <script th:src="@{/js/jquery-1.8.0.min.js}"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>

<body>
<div class="navbar navbar-duomi navbar-static-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header" >
            <a align="center" class="navbar-brand" href="http://www.hbtcm.edu.cn/" id="logo">湖北中医药大学教务在线
            </a>
        </div>
    </div>
</div>



<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="row clearfix">
                <div class="col-md-2 column">

                </div>
                <div class="col-md-10 column" >

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
